
<div class="container text-center">
  <div class="container text-center">
    <h1>Finance App</h1>
  </div>
  <br>
  <%= image_tag "Financial-Literacy-675x424-1.jpg", {height: 500} %>
  <br><br>
  <div class="container text-center">
    <%= link_to "Категорії", categories_path, class:"btn btn-outline-secondary" %>
    <%= link_to "Операції", operations_path, class:"btn btn-outline-secondary" %>
    <%= link_to "Звіти", reports_index_path, class:"btn btn-outline-secondary" %>
  </div>
</div>
